body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.grid-gift {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.grid-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.grid-gift p {
  padding: 3px;
  text-align: center;
}

.grid-imgage {
  display: block;
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
  .grid-image {
    flex-basis: 50%;
  }
}
 
/* three images per line when browser width exceeds 960px */
@media only screen and (min-width: 960px) {
  .grid-image {
    flex-basis: 33.333%;
  }
}
 
/* four images per line when browser width exceeds 1280px */
@media only screen and (min-width: 1280px) {
  .grid-image {
    flex-basis: 25%;
  }
}
 
/* five images per line when browser width exceeds 1600px */
@media only screen and (min-width: 1600px) {
  .grid-image {
    flex-basis: 20%;
  }
}